1.yaourt *
$ sudo pacman -S --needed base-devel git wget yajl
$ cd /tmp
$ git clone https://aur.archlinux.org/package-query.git
$ cd package-query/
$ makepkg -si && cd /tmp/
$ git clone https://aur.archlinux.org/yaourt.git
$ cd yaourt/
$ makepkg -si
2.perspolis , smplayer , telegram-desktop from archlinux cn *
pacman.conf :
[archlinuxcn]
Server = https://repo.archlinuxcn.org/$arch
$ sudo pacman -Sy && sudo pacman -S archlinuxcn-keyring
3.handbreak-cli handbreak-gtk *
4.obs-studio *
5.make *
6.gcc *
7.firefox *
8.chromium *
9.tweaks *
10.shecan *
11.iaut servers *
12.p7zip *
13.gnome shell extention and gnome extention indecator *
extentions : caffeene, dash to dock, persian calender , blur my shell ,burn my windows , hide activate buttonmedia controls , open weather , frippy move clock , resource monitor , run cat*
thems : macos *
14.ocs-url from AUR https://aur.archlinux.org/ocs-url.git *
15.VirtualBox *
16.ventoy from AUR https://aur.archlinux.org/ventoy-bin.git *
17.terminal customization zsh https://medium.com/tech-notes-and-geek-stuff/install-zsh-on-arch-linux-manjaro-and-make-it-your-default-shell-b0098b756a7a
18.Bluetuth https://wiki.archlinux.org/title/bluetooth
19.adding windows partitions https://wiki.archlinux.org/title/NTFS-3G
20.libreoffice 
21.adb
22.Docker *
23.Vim *
24.postgresql *
25.nekoray-bin for v2ray in arch https://aur.archlinux.org/packages/nekoray-bin
26.unrar for extracting the rar files